@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  background-color: var(--very-dark-blue-main);
  color: var(--soft-blue);
  padding: 24px;
}

.main {
  background-color: var(--very-dark-blue-card);
  border-radius: 5px;
  padding: 24px;
}

.main_img {
  border-radius: 5px;
}

.main_img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.main h1 {
  color: var(--white);
}

.main p {
  font-size: 18px;
}

.main_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_detail_price {
  color: var(--cyan);
}

.main_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_profile span {
  color: var(--white);
}
